# === PHASE 1: Raw data ===
raw_reads/
trimmed_reads/

# === Conda / environment folders ===
env/
tbqc/

# === System files ===
*.DS_Store

# === Intermediate alignments ===
*.sam
*.bam
*.bai

# === Temporary or log files ===
*.log
*.tmp

# === Very large or redundant files ===
*.fastq.gz
*.fq.gz
*.parquet

# === Ignore big reports not meant for Git (optional) ===
# comment these if you want QC HTMLs visible
# *.html
# *.zip

# === R temporary files ===
.Rhistory
.RData
.Rproj.user/

